@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Poppins:wght@400;500;700&family=Roboto&display=swap");
.resume {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

* {
  user-select: none;
}

body {
  margin: 0;
}

.bg {
  height: 2500px;
  width: 100%;
  background: #cecece;
  position: absolute;
}
.bg:before {
  content: "";
  height: 70vw;
  width: 70vw;
  left: 0;
  top: 0;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  background: #201e1f;
}
.bg:after {
  content: "";
  height: 70vw;
  width: 70vw;
  right: 0;
  bottom: 0;
  position: absolute;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  background: #201e1f;
}

.resume {
  height: 1000px;
  width: 70vw;
  min-width: 500px;
  margin-top: 100px;
  background: #ececec;
  box-shadow: -60px 0px 120px #2b2b2b;
  padding: 50px;
  box-sizing: border-box;
}
.resume:before {
  content: "";
  width: 31vw;
  height: 31vw;
  position: absolute;
  right: 0;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background: #ececec;
  z-index: 10;
}
.resume:after {
  content: "";
  width: 30vw;
  height: 30vw;
  position: absolute;
  right: 0;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background: #201e1f;
  z-index: 11;
}

header {
  border-bottom: 1px solid #9a9a9a;
}
header h1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 60px;
  line-height: 55px;
  margin: 0;
  padding: 0;
}
header h6 {
  margin: 0;
  font-family: "Roboto";
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #696969;
}

.sec-wrap {
  width: calc(100% - 100px);
  height: 80%;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: stretch;
}

.sec-l {
  border-right: 1px solid #9a9a9a;
  padding-top: 10px;
  position: relative;
  flex-grow: 1;
}
.sec-l h6 {
  font-family: "Open Sans";
  font-weight: 700;
  margin: 0;
  font-size: 14px;
}
.sec-l p {
  font-family: "Roboto";
  font-size: 12px;
}
.sec-l .progress {
  height: 10px;
  width: 80%;
  border: 1px solid #9a9a9a;
  box-sizing: border-box;
  position: relative;
  margin-top: 40px;
}
.sec-l .progress p {
  position: absolute;
  top: -20px;
  left: 0;
  font-family: "Roboto";
  margin: 0;
}

h5 {
  font-family: "Poppins";
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 20px;
  position: relative;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
h5:after {
  content: "";
  height: 3px;
  width: 30px;
  background: black;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.prog-95:after {
  content: "";
  height: 8px;
  width: 95%;
  background: #9a9a9a;
  left: 0;
  top: 0;
  position: absolute;
}

.prog-80:after {
  content: "";
  height: 8px;
  width: 80%;
  background: #9a9a9a;
  left: 0;
  top: 0;
  position: absolute;
}

.prog-75:after {
  content: "";
  height: 8px;
  width: 75%;
  background: #9a9a9a;
  left: 0;
  top: 0;
  position: absolute;
}

.prog-65:after {
  content: "";
  height: 8px;
  width: 65%;
  background: #9a9a9a;
  left: 0;
  top: 0;
  position: absolute;
}

.sec-r {
  padding-top: 10px;
  padding-left: 10px;
  flex-grow: 7;
  position: relative;
  min-width: 200px;
}
.sec-r .r-sec {
  border-bottom: 1px solid #9a9a9a;
  padding-bottom: 15px;
  position: relative;
}
.sec-r .r-sec .bio {
  width: 35vw;
  text-align: justify;
}

.social-wrap {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  flex-wrap: wrap;
}
.social-wrap .social {
  font-family: "Roboto";
  position: relative;
  padding-left: 30px;
}
.social-wrap .social svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.exp-wrap {
  display: flex;
  flex-direction: column;
}
.exp-wrap .exp {
  display: flex;
}
.exp-wrap .exp .exp-time {
  font-family: "Roboto";
}
.exp-wrap .exp .exp-work {
  width: 30vw;
  padding-left: 40px;
}
.exp-wrap .exp .exp-work p {
  margin: 0;
}
.exp-wrap .exp .exp-work .exp-head {
  font-family: "Poppins";
  font-weight: 600;
}
.exp-wrap .exp .exp-work .exp-desc {
  font-family: "Roboto";
}