$gray: #cecece;
$lgray: #ececec;
$black: #201e1f;
$border: #9a9a9a;

@mixin progBar($wid) {
    &:after {
        content: "";
        height: 8px;
        width: $wid;
        background: $border;
        left: 0;
        top: 0;
        position: absolute;
    }
}

%center {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
%center-x {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
%center-y {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
